* { margin: 0 }

html { height: 100%; }

body { 
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#161616+0,2989d8+50,545454+100 */
  background: #043B7A;
  /* background: -moz-linear-gradient(45deg, #161616 0%, #2989d8 50%, #545454 100%); 
  background: -webkit-linear-gradient(45deg, #161616 0%,#2989d8 50%,#545454 100%); 
  background: linear-gradient(45deg, #161616 0%,#2989d8 50%,#545454 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#161616', endColorstr='#545454',GradientType=1 ); */

  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
  font-weight: 200;
  height: 100%; 
}

#app {
  height: 100%; 
}